
nav {
  background-color: aliceblue;
}
/* header */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7%;
  margin-left: 7%;

  padding-top: 40px;
}
.nav-right ul {
  display: flex;
  gap: 4em;
  font-size: x-large;
}
.nav-right ul li {
  list-style-type: none;
}
.nav-right ul li a {
  color: black;
  text-decoration: none;
}
.nav-right ul li :hover {
  background-color: #eea539;
  color: aliceblue;
}
.nav-cart {
  display: flex;
  gap: 2em;
}

@media screen and( max-wdth=414px) {
}

/* hero-content */
.hero-content {
  display: flex;
  justify-content: space-between;
}
.hero-content__left {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5em;
}
.hero-content__left--paragraph {
  font-size: medium;
}
.orange {
  color: #eea539;
}
.hero-content__left--heading {
  font-size: 70px;
}
.hero-content__left--cards {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight:bold ;
 
}
.hero-content__left--images {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16vh;
  background-color:#f4f7fb;
  flex-direction: column;
  padding: 2em;
margin-right: 1em;
}
.hero-content__left--images img {
  width: 20px;
}
.img{
  color: black; 
  background-color:black;
}
.hero-content__left--search area{
  padding-top: 40px;
}

.hero__input{
  border: solid #f4f7fb;
  display: flex;
  align-items: center;
  padding-left: 1em;
  border-radius: 5px;
}

.hero__input button{
  border: none;
  padding: 2em;
  background-color: #000;
  color: #fff;
}

.hero__input input{
  padding: 2em;
  flex: 1;
  border: none;
  outline: none;
}
.hero-content__right {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 40px;
  margin-bottom: 40px;
}
