nav {
  background-color: aliceblue;
}
/* header */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image img{
width:100%;
}


.nav-right ul {
  display: flex;

  font-size: x-large;
}
.hambeger {
  display: none;
}
.nav-right ul li {
  list-style-type: none;
}
.nav-right ul li a {
  color: black;
  text-decoration: none;
  padding: 1em;
  display: block;
}
.nav-right ul li :hover {
  background-color: #eea539;
  color: aliceblue;
}
.nav-cart {
  display: flex;
  gap: 2em;
}
/* hero-content */
.hero-content {
  display: flex;
  justify-content: space-between;
}
.hero-content__right--largepic img {
  width: 100%;
}
.hero-content__right--smallpic img {
  width: 22%;
}

.hero-content__left {
  flex: 1;
  margin-top: 5em;
}
.hero-content__right{
  flex: 1;
}
.hero-content__left--paragraph {
  font-size: medium;
}
.orange {
  color: #eea539;
}
.hero-content__left--heading {
  font-size: 50px;
}
.hero-content__left--cards {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: bold;
  flex-wrap: wrap;
}
.hero-content__left--images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f7fb;
  flex-direction: column;
  padding: 3em;
  margin-right: 1em;
  flex: 1;
  text-align: center;
}
.hero-content__left--images img {
  width: 50px;
}

.img {
  color: black;
  width:70px;
  height: 70px;
  background-color: #000;
  border-radius:50% ;
  display:flex;
  justify-content: center;
  align-items: center;
}
.hero-content__left--search area {
  padding-top: 40px;
}

.hero__input {
  border: solid #f4f7fb;
  display: flex;
  align-items: center;
  padding-left: 1em;
  border-radius: 5px;
  width: 100%;
}

.hero__input button {
  border: none;
  padding: 2em;
  background-color: #000;
  color: #fff;
}

.hero__input input {
  padding: 2em;
  flex: 1;
  border: none;
  outline: none;
}
.hero-content__right {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* media queries */

@media screen and (max-width: 880px) {
  .hambeger {
    display: inline-block;
  }
  .nav-right {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .hero-content__right {
    display: none;
  }
}
 @media screen  and( max-width:414) {
  
 } 

