.menu__container {
  display: flex;
  justify-content: center;
  margin-right: 7%;
  margin-left: 7%;
}
.color {
  color: #eea539;
  font-size: larger;
}
.span {
  color: #eea539;
}
.menu__left--span {
  font-size: xx-large;
}
.menu__left--variaties ul{
  display: flex;
  justify-content:space-between;
  list-style-type: none;
  margin-left:10%;
  margin-right: 10%;
  font-weight: bold;
  font-size:larger;
}
.menu__left--variaties-border{
 border: solid darkgrey 1px; 
 width: 100%; 
 margin: 2.5em 0;
}
.menu__left--cont{
display: flex;
justify-content:space-between;
gap:5em;
margin-left: 10%;
margin-right: 10%;
}
.images{
    width:20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f7fb;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cart{
    background-color: black;
    color:azure;
padding: 30px;
margin: 30px; ;
}